# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
*.dll
*.pdb
*.FileListAbsolute.txt
*.cache
*.user
*.projdata
_UpgradeReport_Files
*.projdata1
*.suo
*.FileList.txt
UpgradeLog.XML
**/obj/Debug/*
**/obj/Release/*
**/bin/Debug/*
**/bin/Release/*
node_modules
npm-cache
PrecompiledWeb/*
Web/data/tmp/*
Web/react/*
*.webinfo
*.vsdisco
*.exclude
Web/images/testimonial
Deploy*PDT/*
Deploy*DEV/*
Deploy*PTY/*
Common3/Key.cs
Web/Web.config
RCWs/Web.config
WsXls/*
Install.log
Error.txt
package-lock.json
.DS_Store
.vs
*.refresh
.npmrc
npm
*.pfx
