@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
  /* IE10+ specific styles go here */  

  .load {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    position: fixed;
    background: #ffffff;
    z-index: 2000;
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
    height: 100vh;
  }
}

@supports (-moz-appearance:none) {
  .load {
    min-height: 100vh !important;
  }
}

.no_sidebar > .load {
  width: 100% !important;
  left: 0 !important;
}

@media (max-width: 1059px) {
  .load {
    width: 100% !important;
    left: 0 !important
  }
}

.load {
  // height: 100vh;
  // width: 100vw;
  // display: flex;
  // align-items: center;
  // position: fixed;
  // background: #ffffff;
  // z-index: 2000;
  // padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
  // height: 100vh;
  // min-height: 100vh;
  // min-height: -webkit-fill-available !important;
  min-height: stretch;
  // max-width: 515px;
  width: calc(100% - 250px);
  margin: auto;
  display: -ms-flexbox;
  display: flex;
  right: 0;
  left: 250;
  top: 0;
  position: fixed;
  background: #ffffff;
  z-index: 98;
  padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);

  .load__icon {
    animation: linear load 2s infinite;
    margin: auto;
    width: 32px;
    height: 32px;
  }

  .load__icon-wrap {
    margin: auto;
  }

  & + div{
    height: 100vh;
    overflow: hidden;
  }

  @keyframes load {
    from {
      transform: rotate(0deg) scale(2);
    }
    to {
      transform: rotate(360deg) scale(2);
    }
  }

  &.loaded {
    animation: ease loaded 0.5s;
  }

  @keyframes loaded {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}