vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 Oct 2003 20:29:03 -0000
vti_extenderversion:SR|5.0.2.5012
vti_author:SR|RND08\\RND08
vti_modifiedby:SR|RND08\\RND08
vti_timecreated:TR|12 Nov 2002 22:31:40 -0000
vti_lineageid:SR|{7CC14462-D708-4743-BDAC-3D2A97553CB8}
vti_backlinkinfo:VX|
vti_nexttolasttimemodified:TW|12 Nov 2002 22:31:40 -0000
vti_cacheddtm:TX|20 Oct 2003 20:29:03 -0000
vti_filesize:IR|1374
