.gallery {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  .gallery__btns {
    width: 100%;
    margin-bottom: 20px;
  }

  .gallery__btn {
    background: transparent;
    padding: 0;
    margin-right: 20px;
    text-transform: uppercase;
    color: $color-additional;
    font-size: 14px;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s;

    &:focus, &:active {
      outline: none;
    }

    &:hover {
      color: $color-additional-hover;
    }

    &.gallery__btn--active {
      color: $color-accent;
    }
  }

  .gallery__img-wrap {
    width: 100%;
    overflow: hidden;
    cursor: pointer;
  }

  img {
    width: 100%;
  }

  @media screen and (min-width: 768px) {

    .gallery__img-wrap {
      width: 50%;
    }
  }

  @media screen and (min-width: 992px) {

    .gallery__img-wrap {
      width: 25%;
    }
  }
}