/* Flow Chart specific CSS hand coded by developer to be used */

body {
	margin: 0;
	padding: 0;
	text-align: left;
	font-family: Helvetica, Arial, sans-serif, Tahoma;
	font-size: 14px;
	line-height: 1.5;
	color: black;
	background: rgb(255, 255, 255) url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHBhdHRlcm4gaWQ9ImdyaWQiIHdpZHRoPSI0MCIgaGVpZ2h0PSI0MCIgcGF0dGVyblVuaXRzPSJ1c2VyU3BhY2VPblVzZSI+PHBhdGggZD0iTSAwIDEwIEwgNDAgMTAgTSAxMCAwIEwgMTAgNDAgTSAwIDIwIEwgNDAgMjAgTSAyMCAwIEwgMjAgNDAgTSAwIDMwIEwgNDAgMzAgTSAzMCAwIEwgMzAgNDAiIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2UwZTBlMCIgb3BhY2l0eT0iMC4yIiBzdHJva2Utd2lkdGg9IjEiLz48cGF0aCBkPSJNIDQwIDAgTCAwIDAgMCA0MCIgZmlsbD0ibm9uZSIgc3Ryb2tlPSIjZTBlMGUwIiBzdHJva2Utd2lkdGg9IjEiLz48L3BhdHRlcm4+PC9kZWZzPjxyZWN0IHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JpZCkiLz48L3N2Zz4=") -1px -1px;
}

.node {
	/* width: 100%; */
	vertical-align: middle;
	border: 1px solid #fff;
	padding: 5px 10px;
}

.node span{
	vertical-align: top;
	display: inline-block;
}

.node i{
	width: 40px;
	display: inline-block;
	text-align: center;
}

.mover {
	border: 1px solid white;
	background-color: #ededed;
	color: #4A4A4A;
}

#myflow_tools_handle, .dragdrop.mover{
	cursor: move;
}

.selected {
	background-color: #f2f2f2;
	border-left: 5px solid orange;
}


#myflow_tools{
	
	top: 10px; 
	left: 30px; 
	width: 150px; 
	cursor: pointer; 
}

#myflow_props{
	top: 30px; 
	right: 50px; 
	width: 260px; 
}


#myflow_tools, #myflow_props
{
    padding: 3px;
    background-color: #fff; 
    position: fixed; 
    z-index: 1;
}

#myflow_props th {
	text-align: left;
	padding: 6px;
	font-weight: normal;
}

#myflow_props td {
	background: #fff;
	padding: 6px;
}

#task,#state,#path,#pointer  {
	background-repeat:no-repeat;
	background-position: center;
}

path[stroke="#ffffff"]{
	visibility:hidden;
	pointer-events: stroke;
}

.ui-widget-header{
	padding: 5px 15px;
	background: #EFEFF4;
	color: #4c7ebf;
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 5px;
	border:none;
}

.ui-widget-content{
	box-shadow: 0 2px 4px rgba(0,0,0,.25);
	color: #4A4A4A;
}

hr{
	border-color: #EFEFF4;
}

.editor input, .editor textarea{
	padding: 5px;
    border: 1px solid #8d8d8d;
	border-radius: 4px;
	min-width: 180px;
}

.editor textarea{
	min-height: 50px;
}

svg:nth-child(2)
{
    display:none;
}

.tooltipCnt:empty
{
    padding: 0 !important;
    border:none !important;
}

#myflow
{
    width: 100%;
    height: 100%;
    min-width:1000px;
    min-height:500px;
}