<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <!-- Please be reminded that the following works on first time browser visit only -->
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="04:00:00" />
        </staticContent>
    </system.webServer>
</configuration>
