.container {

  @media screen and (min-width: 768px) {
    width: 100%;
    max-width: 2000px;
  }
}

.wrapper {

  @include themify($themes) {
    // background: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0)),url("../img/crossword.png") top center fixed;
    // background: linear-gradient(rgba(3, 176, 176, 0.75),rgba(3, 176, 176, 0.75)),url("../img/bg.jpeg") no-repeat top center fixed;
    -webkit-background-size: auto;
    -moz-background-size: auto;
    -o-background-size: auto;
    background-size: auto;
    background: #fff;
    // background: #f0f1f6;
  }

  &.wrapper--full-width {

    .container__wrap {
      padding-left: 0;

      @media screen and (min-width: 1060px) {
        padding-left: 0px;
      }
    }
  }

  &.top-navigation{

    .container__wrap{

      @media screen and (min-width: 576px) {
        padding-left: 0;
      }
    }
  }
}

.container__wrap {
  padding-left: 0;
  // padding-top: 20px;
  min-height: calc(100vh - 60px);
  transition: padding-left 0.3s;

  // @media screen and (min-width: 576px) {
  //   padding-left: 250px;
  // }

  @media screen and (min-width: 1060px) {
    padding-left: 240px;
  }

  @media screen and (max-width: 767px) {
    padding-top: 0px;
    margin-top: -10px;
    min-height: calc(100vh - 50px);
  }
}
