<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <staticContent>
            <!-- Please be reminded that the following works on first time browser visit only -->
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="04:00:00" />
        </staticContent>
        <security>
            <authorization>
                <remove users="*" roles="" verbs="" />
                <add accessType="Deny" users="*" />
            </authorization>
        </security>
    </system.webServer>
</configuration>
