<configuration>
   <system.webServer>
      <directoryBrowse enabled="true" showFlags="Date,Time,Extension,Size" />
      <security>
         <ipSecurity allowUnlisted="false" enableProxyMode="true">
            <clear />
                <add ipAddress="127.0.0.1" allowed="true" />
                <!-- these are sample internal proxy/load balancer ip address, must also add the actual client ip to this list -->
                <add ipAddress="172.31.13.251" allowed="true" />
                <add ipAddress="172.31.16.10" allowed="true" />
         </ipSecurity>      
      </security>
   </system.webServer>
</configuration>