<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <remove name="Access-Control-Max-Age" />
                <add name="Access-Control-Max-Age" value="3600" />
            </customHeaders>
        </httpProtocol>
        <defaultDocument>
        <files>
            <clear />
            <add value="index.html" />
        </files>
        </defaultDocument>    
        <staticContent>
            <!-- Please be reminded that the following works on first time browser visit only -->
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="00:00:00" />
        </staticContent>
        <rewrite>
            <rules>
                <rule name="ToIndexHtml">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.html" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
<location path="static">
    <system.webServer>
        <staticContent>
            <!-- Please be reminded that the following works on first time browser visit only -->
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00" />
        </staticContent>
    </system.webServer>
</location>    
</configuration>
