<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="reportMappings" type="CrystalDecisions.Shared.ReportMappingHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null" />
        <section name="crystalReportViewer" type="System.Configuration.NameValueSectionHandler" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Numbers" publicKeyToken="9cd62db60ea5554c" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.7.3.0" newVersion="1.7.3.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.8.9.0" newVersion="1.8.9.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive" publicKeyToken="94bc3704cddfc263" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

  <!-- this is specifically defined here to retain the comments(meaning of the appSettings keys) as we need dynamic update to appSettings which would have the comment removed, 
           this is sample only and should only contain non-sensitive sample values, to re-initial, just copy into appSettings and uncomment -->
  <!--<add key="TechSuppEmail" value="xyz@acme.com" />-->
  <!-- tech support email where error trace would be sent to, fatal system errors goes here, even during development, empty means suppress-->
  <!--<add key="EnableTwoFactorAuth" value="N" />-->
  <!-- whether to enforce two factor authentication at system level, default N for no, N for No, Y for Yes, M for Mandatory -->
  <!--<add key="SecuredColumnKey" value="" />-->
  <!-- key to encrypt sensitive columns of EncryptedTextBox (recommend 10 random characters and should not be change once data has been entered) -->
  <!--<add key="WsConverterUrl" value="" />-->
  <!--<add key="WsConverterKey" value="" />-->
  <!--<add key="MasterPgFile" value="Default.master" />-->
  <!--<add key="ImgThreshold" value="1000" />-->
  <!-- Limit image uploaded to database (Document Imaging) in threshold size (kbytes) and width (pixels). -->
  <!--<add key="AzureAPIClientId" value="" />-->
  <!--<add key="AzureAPISecret" value="" />-->
  <!--<add key="AzureAPIRedirectUrl" value="" />-->
  <!-- office 365 integrated login (Get ClientId and Secret from Azure Portal) -->
  <!--<add key="TrustedLoginFederationUrl" value="" />-->
  <!-- Windows integrated login (e.g. value="integrated")-->
  <!--<add key="GoogleAPIKey" value="" />-->
  <!--<add key="GoogleClientId" value="" />-->
  <!-- Google SSO, get from google for OAuth2 sign in -->
  <!--<add key="FacebookAppId" value="" />-->
  <!-- facebook SSO, get from Facebook for OAuth2 sign in -->
  <!--<add key="SignUpUrl" value="" />-->
  <!-- customized signup page for the application -->
  <!--<add key="PasswordComplexity" value=".{8,32}|[0-9]|[a-z]|[A-Z]|[^0-9a-zA-Z]" />-->
  <!-- e.g Complexity: Minimum 8 characters and at least one digit, one capital, one lower case and one symbol. ".{8,32}|[0-9]|[a-z]|[A-Z]|[^0-9a-zA-Z]" -->
  <!--<add key="PasswordHelpMsg" value="Please enter a password with minimum 8 characters and at least one digit, one capital, one lower case and one symbol." />-->
  <!--<add key="CookieHttpOnly" value="true" />-->
  <!-- More secure when true. Currently only false for embedded media player. -->
  <!--<add key="PwdExpDays" value="60" />-->
  <!-- Used only as a warning whereas the PwdDuration and PwdWarn in table Usr are more restrictive -->
  <!--<add key="AdminLoginOnly" value="N" />-->
  <!-- Y is Yes as maintenance mode, N is default -->
  <!--<add key="Architect" value="D" />-->
  <!-- W is Web Service, D is Direct Facade -->
  <!--<add key="WsdlExe" value="C:\Program Files\Microsoft SDKs\Windows\v6.1\Bin\wsdl.exe" />-->
  <!--<add key="WsBaseUrl" value="http://localhost/ROWs" />-->
  <!--<add key="WsDomain" value="localhost" />-->
  <!--<add key="WsUserName" value="WsUser" />-->
  <!--<add key="WsPassword" value="" />-->
  <!--<add key="WsRptBaseUrl" value="" />-->
  <!--<add key="WsRptDomain" value="localhost" />-->
  <!--<add key="WsRptUserName" value="WsRptUser" />-->
  <!--<add key="WsRptPassword" value="" />-->
  <!--<add key="SmtpServer" value="false|25|localhost" />-->
  <!-- SMTP setup for email sending, format TLS/SSL|port|ip/domainname|username|password|fromDomain -->
  <!--<add key="MandatoryChar" value="*" />-->
  <!--<add key="ReadOnlyBColor" value="WhiteSmoke" />-->
  <!--<add key="PromptMsg" value="true" />-->
  <!--<add key="NewUrl" value="app.rcdev02" />-->
  <!-- NewUrl is the IIS site name needed for rintagi.com to create new app. It should be something like app.rintagi.com on production. -->
  <!--<add key="PmtUrl" value="default.aspx" />-->
  <!--<add key="OrdUrl" value="default.aspx" />-->
  <!-- OrdUrl is the homepage url with or without leading http -->
  <!--<add key="SslUrl" value="default.aspx" />-->
  <!-- SslUrl is the access control page with or without leading http -->
  <!-- SslUrl has no tie to EnableSsl; It is mainly used for login users vs OrdUrl is for Anonymous users. -->
  <!--<add key="BuildExe" value="C:\WINDOWS\Microsoft.NET\Framework\v4.0.30319\msbuild.exe" />-->
  <!--<add key="BackupPath" value="C:\Backup\" />-->
  <!--<add key="AppNameSpace" value="RO" />-->
  <!--<add key="DeployType" value="DEV" />-->
  <!-- DEV is Developer, PRD is Production -->
  <!--<add key="ClientTierPath" value="C:\Rintagi\RO\Web\" />-->
  <!--<add key="CLanguageCd" value="C" />-->
  <!--<add key="CFrameworkCd" value="3" />-->
  <!--<add key="RuleTierPath" value="C:\Rintagi\RO\Rule\" />-->
  <!--<add key="RLanguageCd" value="C" />-->
  <!--<add key="RFrameworkCd" value="3" />-->
  <!--<add key="DProviderCd" value="M" />-->
  <!--<add key="WebTitle" value="Rintagi" />-->
  <!--<add key="LoginImage" value="~/images/special/YourLogo.gif" />-->
  <!-- LoginImage below is for MyAccountModule use only and should be exactly 300px wide -->
  <!--<add key="PathRtfTemplate" value="C:\Rintagi\RO\Import\RTF\" />-->
  <!--<add key="PathTxtTemplate" value="C:\Rintagi\RO\Import\TXT\" />-->
  <!--<add key="PathXlsImport" value="C:\Rintagi\RO\Import\XLS\" />-->
  <!--<add key="PathTmpImport" value="C:\Rintagi\RO\Import\TMP\" />-->
  <!--<add key="EnableSsl" value="false" />-->
  <!-- whether to auto redirect http: to https: -->
  <!--<add key="DesProvider" value="Sqloledb" />-->
  <!-- supported value SQLOLEDB/MSOLEDBSQL/ODBC  -->
  <!--<add key="DesServer" value="RCPRO" />-->
  <!-- SQL server holding Design DB(in the form of ServerName\InstanceName per SQL Server convention) -->
  <!--<add key="DesDatabase" value="GFDesign" />-->
  <!-- Design Database Name-->
  <!--<add key="DesUserId" value="sql_user_login" />-->
  <!--<add key="DesPassword" value="encrypted password(via EncryptPwd.aspx?typ=N)" />-->
  <!--<add key="DesTimeout" value="40" />-->
  <!--<add key="DesShareCred" value="N" />-->
  <!-- shared credential for SQL DB Access(in web.config), ignore Systems Table credential in Design DB -->
  <!--<add key="SSPI" value="N" />-->
  <!-- use Windows Integrated Login for SQL DB Access, ignore Systems Table/web.config credential in Design DB -->
  <!--<add key="DoubleByteDb" value="true" />-->
  <!-- localhost.RunApp is temporary disabled; A valid RintagiLicense is required for External installation to create deployment package for multiple environment; -->
  <!--<add key="localhost.RunApp" value="http://localhost/RunApp/RunApp.asmx" />-->
  <!--<add key="LicenseServer" value="http://localhost/RO" />-->
  <!-- server that can issue license to this instation -->
  <!--<add key="LicenseSignerPath" value="c:\Rintagi\RO\rintagi_signer.pfx" />-->
  <!-- license signer file -->
  <!--<add key="LicenseModule" value="3" />-->
  <!-- module(systemId) that handle licensing process -->
  <!--<add key="DesEncryptPwdAccess" value="Y" />-->
  <!-- whether EncryptPwd can be accessed anonymously via non-localhost -->
  <!--<add key="RedirectProjectRoot" value="C:\Rintagi\RO|D:\Rintagi\RO" />-->
  <!-- redirect project root to new location, even if it is defined in DB(from|to format, case sensitive) -->
  <!--<add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />-->
  <!--<add key="JWTMasterKey" value="" />-->
  <!-- React access token key, should be created during new app installation and kept as screen to the running machine only(except for load balancing then shared between multiple web server) -->
  <!--<add key="ReactBaseUrl" value="http://localhost/ro/react/adm" />-->
  <!-- obsoleted -->
  <!--<add key="AdvanceReactBuildVersion" value="N" />-->
  <!-- wether to update react app versioning when doing GIT reset -->
  <!--<add key="ExtBaseUrl" value="http://localhost/ro" />-->
  <!-- external visible app root domain for usage in proxy as well as sync between react app and asp.net app -->
  <!--<add key="IntBaseUrl" value="http://localhost/ro" />-->
  <!-- behind proxy internal URL for cronjob etc. -->
  <!--<add key="RintagiLicense" value="" />-->
  <!-- issued license for this installation-->
  <!--<add key="PasswordResetModule" value="" />-->
  <!-- module .i.e. systemId handling password reset(for customized email etc.) -->
  <!--<add key="ExtBasePath" value="" />-->
  <!-- for app sitting behind proxy with different url path scheme -->
  <!--<add key="DesEncryptPwdAccess" value="" />-->
  <!-- whether to allow non-localhost EncryptPwd without login, default to N  -->
  <!--<add key="GitCheckoutBranch" value="" />-->
  <!-- git checkout branch, used only if project is under GIT control, will wipe out all current local changes  -->
  <!--<add key="PublishReactModules" value="" />-->
  <!-- react modules to be published via webhook, only used for development, comma delimited React module directory name(check directory)  -->
  <!--<add key="DeployDropLocation" value="" />-->
  <!-- dropbox path for generated installer EXE, only used for development  -->
  <!--<add key="ODBCDriver" value="" />-->
  <!-- override default ODBC Driver string, default to "ODBC Driver 13 for SQL Server" if empty  -->
  <!--<add key="LocalWebConfig" value="" />-->
  <!-- web.config app settings that would be empty out in installer for new installation, comma delimited   -->
  <!--<add key="ReCaptchaSecretKey" value="" />-->
  <!-- google recaptcha key   -->
  <!--<add key="ResetPwdEmailTemp" value="" />-->
  <!-- password reset email template systemId, default to 3   -->
  <!--<add key="MainSiteUrl" value="" />-->
  <!-- password reset email url link to site   -->
  <!--<add key="CMCAPIKey" value="" />-->
  <!-- coinmarket API key for fxrate conversion   -->
  <!--<add key="PaypalExpressAPIUserName" value="" />-->
  <!-- paypal express api user name   -->
  <!--<add key="PaypalExpressAPIEncPwd" value="" />-->
  <!-- paypal express api password, encrypted via encryptPwd   -->
  <!--<add key="PaypalExpressAPIEncSignature" value="" />-->
  <!-- paypal express api signature, encrypted via encryptPwd   -->
  <!--<add key="PaypalRESTAPIClientID" value="" />-->
  <!-- paypal rest api client ID   -->
  <!--<add key="PaypalRESTAPIEncSecret" value="" />-->
  <!-- paypal rest api secret, encrypted via encryptPwd   -->
  <!--<add key="NoTrans" value="" />-->
  <!-- site wide DB transaction wrapper(default to 'N', i.e. wrap DB change within transaction for error rollback)   -->
  <!--<add key="CommandTimeOut" value="" />-->
  <!-- DB command timeout, default to 1800 sec   -->
  <!--<add key="RunCronJob" value="Y" />-->
  <!-- whether to run CronJob on this server, default to 'Y'   -->
  <!--<add key="RunCronJobModules" value="" />-->
  <!-- select cron job modules to run, default to empty means all modules. command delimited appDbName   -->
  <!--<add key="ReactTemplate" value="" />-->
  <!-- react template directory name, default to 'Template'(found under React/)   -->
  <!--<add key="DesLegacyMD5Encrypt" value="N"/>-->
  <!--<add key="HardenedTOTP" value="N"/>-->
  <!-- use longer secret bit for 2FA TOTP, default is "Y" if not defined -->
  <!--<add key="ExportExcelCSV" value="N" />-->
  <!-- add sep= line to exported csv, default is "Y" if not defined -->
  <!--<add key="WsXlsUrl" value=""/>-->
  <!-- use external WsXls web service for import -->
  <!--<add key="FCMServerKey" value="" />-->
  <!-- FCM authentication to send push message -->
  <!--<add key="FXMinuteToCache" value="360" />-->
  <!-- FX Rate caching time in minutes -->
  <!--<add key="PageCacheControl" value="-1" />-->
  <!-- cache-control policy(seconds), < 0 (default -1 if not set) means no-store, i.e. absolutely no-cache including back/forward button, require integrated pipeline -->
  <!--<add key="EnableFido2" value="Y" />-->
  <!-- enable webauthn/fido2 login -->
  <!--<add key="EnableCryptoWallet" value="Y" />-->
  <!-- enable crypto wallet login -->
  <!--<add key="EnforceGitCommit" value="N" />-->
  <!-- enforce git commit for webhook installer creation, default N if not defined -->
  <!-- below are for syncing git repo password -->
  <!--<add key="GitSyncSshTarget" value="someone@sshserver" />-->
  <!--<add key="GitSyncSshLogin" value="someone" />-->
  <!--<add key="GitSyncSshPrivateKeyLocation" value="location of putty *.ppk private key file" />-->
  <!--<add key="GitSyncSshPrivateKeyPassword" value="encrypted password for putty *.ppk" />-->
  <!--<add key="GitSyncSshScriptLocation" value="absolution path of add user script on sshserver" />-->

  <appSettings>
    <!-- tech support email where error trace would be sent to, fatal system errors goes here, even during development, empty means suppress-->
    <add key="EnableTwoFactorAuth" value="N" />
    <!-- whether to enforce two factor authentication at system level, default N for no, N for No, Y for Yes, M for Mandatory -->
    <add key="SecuredColumnKey" value="" />
    <!-- key to encrypt sensitive columns of EncryptedTextBox (recommend 10 random characters and should not be change once data has been entered) -->
    <add key="WsConverterUrl" value="" />
    <!-- Optional -->
    <add key="WsConverterKey" value="" />
    <!-- Optional -->
    <add key="MasterPgFile" value="Default.master" />
    <add key="ImgThreshold" value="1000" />
    <!-- Limit image uploaded to database (Document Imaging) in threshold size (kbytes) and width (pixels). -->
    <add key="AzureAPIClientId" value="" />
    <!-- Optional -->
    <add key="AzureAPISecret" value="" />
    <!-- Optional -->
    <add key="AzureAPIRedirectUrl" value="" />
    <!-- Optional -->
    <!-- office 365 integrated login (Get ClientId and Secret from Azure Portal) -->
    <add key="TrustedLoginFederationUrl" value="" />
    <!-- Optional -->
    <!-- Windows integrated login (e.g. value="integrated")-->
    <add key="GoogleAPIKey" value="" />
    <add key="GoogleClientId" value="" />
    <!-- Google SSO, get from google for OAuth2 sign in -->
    <add key="FacebookAppId" value="" />
    <!-- facebook SSO, get from Facebook for OAuth2 sign in -->
    <add key="SignUpUrl" value="" />
    <!-- customized signup page for the application -->
    <add key="PasswordComplexity" value=".{8,32}|[0-9]|[a-z]|[A-Z]|[^0-9a-zA-Z]" />
    <!-- e.g Complexity: Minimum 8 characters and at least one digit, one capital, one lower case and one symbol. ".{8,32}|[0-9]|[a-z]|[A-Z]|[^0-9a-zA-Z]" -->
    <add key="PasswordHelpMsg" value="Please enter a password with minimum 8 characters and at least one digit, one capital, one lower case and one symbol." />
    <add key="CookieHttpOnly" value="true" />
    <!-- More secure when true. Currently only false for embedded media player. -->
    <add key="PwdExpDays" value="60" />
    <!-- Used only as a warning whereas the PwdDuration and PwdWarn in table Usr are more restrictive -->
    <add key="AdminLoginOnly" value="N" />
    <!-- Y is Yes as maintenance mode, N is default -->
    <add key="Architect" value="D" />
    <!-- W is Web Service, D is Direct Facade -->
    <add key="WsdlExe" value="C:\Program Files\Microsoft SDKs\Windows\v6.1\Bin\wsdl.exe" />
    <add key="WsBaseUrl" value="http://localhost/ROWs" />
    <add key="WsDomain" value="localhost" />
    <add key="WsUserName" value="WsUser" />
    <add key="WsPassword" value="" />
    <add key="WsRptBaseUrl" value="" />
    <add key="WsRptDomain" value="localhost" />
    <add key="WsRptUserName" value="WsRptUser" />
    <add key="WsRptPassword" value="" />
    <add key="SmtpServer" value="false|25|localhost" />
    <!-- SMTP setup for email sending, format TLS/SSL|port|ip/domainname|username|password|fromDomain -->
    <add key="MandatoryChar" value="*" />
    <add key="ReadOnlyBColor" value="WhiteSmoke" />
    <add key="PromptMsg" value="true" />
    <add key="NewUrl" value="app.rcdev02" />
    <!-- NewUrl is the IIS site name needed for rintagi.com to create new app. It should be something like app.rintagi.com on production. -->
    <add key="OrdUrl" value="default.aspx" />
    <!-- OrdUrl is the homepage url with or without leading http -->
    <add key="SslUrl" value="default.aspx" />
    <!-- SslUrl is the access control page with or without leading http -->
    <!-- SslUrl has no tie to EnableSsl; It is mainly used for login users vs OrdUrl is for Anonymous users. -->
    <add key="BuildExe" value="C:\WINDOWS\Microsoft.NET\Framework64\v4.0.30319\msbuild.exe" />
    <add key="BackupPath" value="C:\Backup\" />
    <add key="AppNameSpace" value="RO" />
    <add key="DeployType" value="DEV" />
    <!-- DEV is Developer, PRD is Production -->
    <add key="ClientTierPath" value="C:\Rintagi\RO\Web\" />
    <add key="CLanguageCd" value="C" />
    <add key="CFrameworkCd" value="3" />
    <add key="RuleTierPath" value="C:\Rintagi\RO\Rule\" />
    <add key="RLanguageCd" value="C" />
    <add key="RFrameworkCd" value="3" />
    <add key="DProviderCd" value="M" />
    <add key="WebTitle" value="Rintagi" />
    <add key="LoginImage" value="~/images/special/YourLogo.gif" />
    <!-- LoginImage below is for MyAccountModule use only and should be exactly 300px wide -->
    <add key="PathRtfTemplate" value="C:\Rintagi\RO\Import\RTF\" />
    <add key="PathTxtTemplate" value="C:\Rintagi\RO\Import\TXT\" />
    <add key="PathXlsImport" value="C:\Rintagi\RO\Import\XLS\" />
    <add key="PathTmpImport" value="C:\Rintagi\RO\Import\TMP\" />
    <add key="EnableSsl" value="false" />
    <!-- whether to auto redirect http: to https: -->
    <add key="DesProvider" value="Sqloledb" />
    <!-- supported value SQLOLEDB/MSOLEDBSQL/ODBC  -->
    <add key="DesServer" value="localhost" />
    <!-- SQL server holding Design DB(in the form of ServerName\InstanceName per SQL Server convention) -->
    <add key="DesDatabase" value="GFDesign" />
    <!-- Design Database Name-->
    <add key="DesUserId" value="sql_user_login" />
    <add key="DesPassword" value="encrypted password(via EncryptPwd.aspx?typ=N)" />
    <add key="DesTimeout" value="40" />
    <add key="DoubleByteDb" value="true" />
    <!-- localhost.RunApp is temporary disabled; A valid RintagiLicense is required for External installation to create deployment package for multiple environment; -->
    <add key="localhost.RunApp" value="http://localhost/RunApp/RunApp.asmx" />
    <add key="LicenseServer" value="http://localhost/RO" />
    <!-- server that can issue license to this installation -->
    <add key="LicenseSignerPath" value="c:\Rintagi\RO\rintagi_signer.pfx" />
    <!-- license signer file -->
    <add key="LicenseModule" value="3" />
    <!-- module(systemId) that handle licensing process -->
    <add key="DesShareCred" value="N" />
    <!-- shared credential for SQL DB Access(in web.config), ignore Systems Table credential in Design DB -->
    <add key="SSPI" value="N" />
    <!-- use Windows Integrated Login for SQL DB Access, ignore Systems Table/web.config credential in Design DB -->
    <add key="DesEncryptPwdAccess" value="Y" />
    <!-- whether EncryptPwd can be accessed anonymously via non-localhost -->
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="TechSuppEmail" value="xyz@acme.com" />
    <add key="JWTMasterKey" value="" />
    <!-- React access token key, should be created during new app installation and kept as screen to the running machine only(except for load balancing then shared between multiple web server) -->
    <add key="ReactBaseUrl" value="http://localhost/ro/react/adm" />
    <!-- obsoleted -->
    <add key="AdvanceReactBuildVersion" value="N" />
    <!-- wether to update react app versioning when doing GIT reset -->
    <add key="ExtBaseUrl" value="http://localhost/ro" />
    <!-- external visible app root domain for usage in proxy as well as sync between react app and asp.net app -->
    <add key="IntBaseUrl" value="http://localhost/ro" />
    <!-- behind proxy internal URL for cronjob etc. -->
    <add key="RintagiLicense" value="" />
    <!-- issued license for this installation-->
    <add key="ServerIdentity" value="DEV"/>
    <add key="ResetPwdEmailTemp" value=""/>
    <add key="RedirectProjectRoot" value="C:\Rintagi\RO|D:\Rintagi\RO" />
    <!-- redirect project root to new location, even if it is defined in DB(from|to format, case sensitive) -->
    <add key="PasswordResetModule" value="" />
    <!-- module .i.e. systemId handling password reset(for customized email etc.) -->
    <add key="ExtBasePath" value="" />
    <!-- for app sitting behind proxy with different url path scheme (obsoleted) -->
    <add key="DesEncryptPwdAccess" value="" />
    <!-- whether to allow non-localhost EncryptPwd without login, default to N, default is N which is more secure -->
    <add key="TranslateExtUrl" value="Y" />
    <add key="GitCheckoutBranch" value="" />
    <!-- git checkout branch, used only if project is under GIT control, will wipe out all current local changes  -->
    <add key="PublishReactModules" value="" />
    <!-- react modules to be published via webhook, only used for development, comma delimited React module directory name(check directory)  -->
    <add key="DeployDropLocation" value="" />
    <!-- dropbox path for generated installer EXE, only used for development  -->
    <add key="ODBCDriver" value="" />
    <!-- override default ODBC Driver string, default to "ODBC Driver 13 for SQL Server" if empty  -->
    <add key="LocalWebConfig" value="" />
    <!-- web.config app settings that would be empty out in installer for new installation, comma delimited   -->
    <add key="ReactTemplate" value="Template" />
    <!-- react template directory name, default to 'Template'(found under React/)   -->
    <add key="DesLegacyMD5Encrypt" value="N"/>
    <!-- use MD5 for encryption algo, default is "Y" -->
    <add key="NoTrans" value="" />
    <!-- site wide DB transaction wrapper(default to 'N', i.e. wrap DB change within transaction for error rollback)   -->
    <add key="CommandTimeOut" value="" />
    <!-- DB command timeout, default to 1800 sec   -->
    <add key="HardenedTOTP" value="N" />
    <!-- use longer scret bit for 2FA TOTP, default is "Y" if not defined -->
    <add key="ExportExcelCSV" value="N" />
    <!-- add sep= line to exported csv, default is "Y" if not defined -->
    <add key="FCMServerKey" value="" />
    <!-- FCM authentication to send push message -->
    <add key="WsXlsUrl" value=""/>
    <!-- use external WsXls web service for import -->
    <add key="FXMinuteToCache" value="360" />
    <!-- FX Rate caching time in minutes -->
    <add key="PageCacheControl" value="-1" />
    <!-- cache-control policy(seconds), < -1 (default -1 if not set) means no-store, i.e. absolutely no-cache including back/forward button -->

    <add key="ReCaptchaSecretKey" value="" />
    <!-- google recaptcha key   -->
    <add key="ResetPwdEmailTemp" value="" />
    <!-- password reset email template systemId, default to 3   -->
    <add key="MainSiteUrl" value="" />
    <!-- password reset email url link to site   -->
    <add key="CMCAPIKey" value="" />
    <!-- coinmarket API key for fxrate conversion   -->
    <add key="PaypalExpressAPIUserName" value="" />
    <!-- paypal express api user name   -->
    <add key="PaypalExpressAPIEncPwd" value="" />
    <!-- paypal express api password, encrypted via encryptPwd   -->
    <add key="PaypalExpressAPIEncSignature" value="" />
    <!-- paypal express api signature, encrypted via encryptPwd   -->
    <add key="PaypalRESTAPIClientID" value="" />
    <!-- paypal rest api client ID   -->
    <add key="PaypalRESTAPIEncSecret" value="" />
    <!-- paypal rest api secret, encrypted via encryptPwd   -->
    <add key="RunCronJob" value="Y" />
    <!-- whether to run CronJob on this server, default to 'Y'   -->
    <add key="RunCronJobModules" value="" />
    <!-- select cron job modules to run, default to empty means all modules. command delimited appDbName   -->
    <add key="EnableFido2" value="Y" />
    <!-- enable webauthn/fido2 login -->
    <add key="EnableCryptoWallet" value="Y" />
    <!-- enable crypto wallet login -->
  </appSettings>
  <connectionStrings>
    <clear />
  </connectionStrings>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/d:DEBUG;TRACE">
        <providerOption name="CompilerVersion" value="v4.0" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <urlMappings enabled="true" />
    <browserCaps>
      <case>RequiresControlStateInSession=true</case>
    </browserCaps>
    <webParts>
      <personalization>
        <authorization>
          <allow verbs="enterSharedScope" users="*" />
        </authorization>
      </personalization>
    </webParts>
    <httpRuntime executionTimeout="7200" maxRequestLength="32768" requestValidationMode="2.0" targetFramework="4.8" />
    <!--  https only security setting:
    <httpCookies httpOnlyCookies="false" requireSSL="true" />
    -->
    <!--  DYNAMIC DEBUG COMPILATION
          Set compilation debug="true" to enable ASPX debugging.  Otherwise, setting this value to
          false will improve runtime performance of this application. 
          Set compilation debug="true" to insert debugging symbols (.pdb information)
          into the compiled page. Because this creates a larger file that executes
          more slowly, you should set this value to true only when debugging and to
          false at all other times. For more information, refer to the documentation about
          debugging ASP.NET files.
    -->
    <compilation debug="true" defaultLanguage="c#" batch="false" numRecompilesBeforeAppRestart="500" targetFramework="4.8" >
      <assemblies>
        <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
        <add assembly="Microsoft.ReportViewer.Common, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Net.Http, Version=4.2.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
      <buildProviders>
        <!--<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />-->
      </buildProviders>
    </compilation>
    <!--  CUSTOM ERROR MESSAGES
    <customErrors defaultRedirect="ErrorPage.aspx" mode="On" />
    -->
    <customErrors mode="Off" />
    <!-- security -->
    <authentication mode="Forms">
      <forms name=".ROSecuAuth" loginUrl="MyAccount.aspx?typ=N" defaultUrl="Default.aspx" protection="All" timeout="120" />
    </authentication>
    <authorization>
      <allow users="*" />
    </authorization>
    <!--  APPLICATION-LEVEL TRACE LOGGING
          Application-level tracing enables trace log output for every page within an application. 
          Set trace enabled="true" to enable application trace logging.  If pageOutput="true", the
          trace information will be displayed at the bottom of each page.  Otherwise, you can view the 
          application trace log by browsing the "trace.axd" page from your web application
          root. 
    -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true" />
    <!--  SESSION STATE SETTINGS
          By default ASP.NET uses cookies to identify which requests belong to a particular session. 
          If cookies are not available, a session can be tracked by adding a session identifier to the URL. 
          To disable cookies, set sessionState cookieless="true".
          sessionState mode="InProc" is faster but not as scalable as "StateServer". Deafult historySize is 9.
    -->
    <sessionPageState historySize="50" />
    <sessionState cookieName="ASP.NET_ROSessionId" mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;user id=sa;password=" cookieless="false" timeout="120" />
    <!--  PREVENT SOURCE CODE DOWNLOAD
          This section sets the types of files that will not be downloaded. As well as entering
          a httphandler for a file type, you must also associate that file type with the aspnet_isapi.dll
          in the App Mappings property of the web site, or the file can be downloaded.
          It is recommended that you use this section to prevent your sources being downloaded.
    <httpHandlers>
      <add verb="*" path="*.vb" type="System.Web.HttpNotFoundHandler,System.Web" />
      <add verb="*" path="*.cs" type="System.Web.HttpNotFoundHandler,System.Web" />
      <add verb="*" path="*.vbproj" type="System.Web.HttpNotFoundHandler,System.Web" />
      <add verb="*" path="*.csproj" type="System.Web.HttpNotFoundHandler,System.Web" />
      <add verb="*" path="*.webinfo" type="System.Web.HttpNotFoundHandler,System.Web" />
    </httpHandlers>
    -->
    <!--  GLOBALIZATION  -->
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
    <pages smartNavigation="false" controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID" />
    <httpHandlers>
      <add path="CrystalImageHandler.aspx" verb="GET" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />
    </httpHandlers>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="WebDAV" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />

      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
      <add name="ReportViewerWebControlHandler" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" preCondition="integratedMode" />
    </handlers>
    <defaultDocument>
      <files>
        <clear />
        <add value="showpage.aspx?pg=2&amp;csy=3" />
        <add value="Default.aspx" />
        <add value="Maintenance.aspx" />
      </files>
    </defaultDocument>
    <!-- this is for custom mime type, for fontawesome in this case -->
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="00:01:00" />
    </staticContent>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Credentials" value="true" />
        <add name="Access-Control-Allow-Methods" value="GET, HEAD, POST, PUT, DELETE, OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="Origin, Access-Control-Allow-Origin, Content-Type,Accept-Encoding, Accept,Authorization,X-RintagiScope,X-Authorization" />
        <add name="Access-Control-Max-Age" value="86400" />
      </customHeaders>
    </httpProtocol>
    <httpCompression>
      <dynamicTypes>
        <!-- on IIS 8.5, system32\inetsrv\config\applicationhost.config needs to be changed manually to handle this, IIS 10 onward is fine overriding here -->
        <add mimeType="application/json" enabled="true" />
        <add mimeType="application/json; charset=UTF-8" enabled="true" />
      </dynamicTypes>
    </httpCompression>
    <rewrite>
      <rules>
        <clear />
        <rule name="React_bundle_proxy" stopProcessing="true">
          <match url="^(static|runtime|img)/(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="http://localhost:3000/{R:1}/{R:2}" />
        </rule>
        <rule name="React_loadcss_proxy" enabled="true" stopProcessing="true">
          <match url="^(.+\.css|.+\.png|.+\.gif|.+\.jpg)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{HTTP_REFERER}" pattern="reactproxy/?(.*)" />
          </conditions>
          <action type="Rewrite" url="http://localhost:3000/{R:1}" appendQueryString="false" logRewrittenUrl="true" />
        </rule>
        <rule name="React_loadcss_extdev" enabled="false" stopProcessing="true">
          <match url="^(.+\.css|.+\.png|.+\.gif|.+\.jpg)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{HTTP_REFERER}" pattern="extdev/?(.*)" />
          </conditions>
          <action type="Rewrite" url="http://172.16.0.72:3000/{R:1}" appendQueryString="false" logRewrittenUrl="true" />
        </rule>
        <rule name="RO_reactport_proxy" stopProcessing="true">
          <match url="^reactport(/([0-9]+))(/?.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="http://localhost:{R:2}{R:3}" />
        </rule>
        <rule name="RO_reactproxy" stopProcessing="true">
          <match url="^reactproxy/?(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
          <action type="Rewrite" url="http://localhost:3000/{R:1}" logRewrittenUrl="true" />
        </rule>
        <rule name="react_ending_slash" enabled="false" stopProcessing="true">
          <match url="^react/([^/#]*)(#?[^/]*)$" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Redirect" url="react/{R:1}/{R:2}" />
        </rule>
        <rule name="react_static_production" enabled="false" stopProcessing="true">
          <match url="^react/([^/]*/?)(.*)" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="react/{R:1}/default.aspx" />
        </rule>
        <rule name="RO_extdev_port_proxy" enabled="false" stopProcessing="true">
          <match url="^extdev(/([0-9]+))(/?.*)" />
          <action type="Rewrite" url="http://172.16.0.72:{R:2}{R:3}" logRewrittenUrl="true" />
        </rule>
        <rule name="RO_extdev_proxy" enabled="false" stopProcessing="true">
          <match url="^extdev/?(.*)" />
          <action type="Rewrite" url="http://172.16.0.72:3000/{R:1}" logRewrittenUrl="true" />
        </rule>
      </rules>
    </rewrite>
    <modules>
      <remove name="WebDAVModule" />
    </modules>
  </system.webServer>
  <businessObjects>
    <crystalReports>
      <reportMappings>
        <add reportName="AdmRptBizRuleReport.rpt" path="Web\reports\AdmRptBizRuleReport.rpt" />
        <add reportName="AdmRptDbTableReport.rpt" path="Web\reports\AdmRptDbTableReport.rpt" />
        <add reportName="AdmRptMsgReport.rpt" path="Web\reports\AdmRptMsgReport.rpt" />
        <add reportName="AdmRptPrgListReport.rpt" path="Web\reports\AdmRptPrgListReport.rpt" />
        <add reportName="AdmRptUsageReport.rpt" path="Web\reports\AdmRptUsageReport.rpt" />
        <add reportName="AdmRptUsrReport.rpt" path="Web\reports\AdmRptUsrReport.rpt" />
      </reportMappings>
      <crystalReportViewer>
        <add key="ResourceUri" value="/aspnet_client/system_web/4_0_30319/crystalreportviewers13/" />
      </crystalReportViewer>
    </crystalReports>
  </businessObjects>
  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="5000000" />
      </webServices>
    </scripting>
  </system.web.extensions>
</configuration>